h1 {
   text-indent:10px;
   font-family: Verdana;
   color: #151130;
   }

h3 {
   text-indent:10px;
   font-family: Trebuchet MS;
   color: #151130;
   }

h4 {
   font-size: 23px;
   text-indent:15px;
   color: #000080;
   }

h5 {
   text-indent:15px;
   color: #000000;
   }

.block-left
{
    width:70%;
    height:600px;
    overflow:auto;
    float:left;
}

.block-right
{
    width:30%;
    height:600px;
    overflow:auto;
}

img {
    height: 100px;
    width: 100px;
   }

a {
    text-decoration: none;
  }
