{% extends 'mainapp/base.html' %}
{% block title %}О сайте{% endblock %}
{%block site_content %}
<h1>О сайте</h1>
<h3>Ну это просто сайт с аккордами, че ещё писать? Держите анектод.</h3>
<ul><li>Сидят работяги. Тут бабка мимо идет.</li>
<li>— Бабушка провод не нужен?</li>
    <li>— Какой провод милок?</li>

<li>— А вон на земле лежит.</li>
<li>Подошла, взяла в руки посмотрела и говорит:</li>
<li>— Да нет, грязный больно.</li>
<li>И пошла дальше. Один другому:</li>
<li>— Ну вот видишь, я же говорил что ноль, а ты фаза, фаза…</li></ul>
{% endblock %}