{% extends 'mainapp/base.html' %}
{% block title %}Создание альбома{% endblock %}
{%block site_content %}

<style>
    a {
    text-decoration: none;
  }

</style>

<form method="POST">
    {% csrf_token %}
    &nbsp;<input style="width: 350px;" name="name" type="text" placeholder="Введите название альбома">
    <select name='selected_singer'>
        {% for singer in singers %}
                <option value='{{singer.id}}'>{{ singer }}</option>

        {% endfor %}
    </select>
    <button type="submit">Создать</button>
    <a href="/admin/albums">Отмена</a>
</form>
&nbsp;{{ error }}

{%endblock%}