{% extends 'mainapp/base.html' %}
{% block title %}Панель администратора{% endblock %}
{% block site_content %}

<style>
    a {
    text-decoration: none;
  }
</style>

<ul style="font-size: 18px;">
        <li><a href="/admin/chordvars">Вариации аккордов</a></li>
        <li><a href="/admin/chords">Аккорды</a></li>
        <li><a href="/">Контент с аккордами</a></li>
        <li><a href="/admin/songs">Песни</a></li>
        <li><a href="/admin/albums">Альбомы</a></li>
        <li><a href="/admin/singers">Исполнители</a></li>
                {% if admin == True %}
        <li><a href="/admin/users">Пользователи</a></li>
                {% endif %}
</ul>

{% endblock %}