{% extends 'mainapp/base.html' %}
{% block title %}Создание песни{% endblock %}
{%block site_content %}
<style>
    a {
    text-decoration: none;
  }
</style>
<form method="POST">
    {% csrf_token %}
    &nbsp;<input style="width: 350px;" name="name" type="text" placeholder="Введите название песни">
     <select name='selected_album'>
        {% for album in albums %}
                <option value='{{album.id}}'>{{ album }}</option>

        {% endfor %}
    </select>
    <button type="submit">Создать</button>
    <a href="/admin/songs">Отмена</a>
</form>
&nbsp;{{ error }}

{%endblock%}