{% extends 'mainapp/base.html' %}
{% block title %}Создание альбома{% endblock %}
{%block site_content %}

<form method="POST">
    {% csrf_token %}
    <input name="name" type="text" placeholder="Введите название альбома">
    <select name='selected_singer'>
        {% for singer in singers %}
            {% if singer != album.singer %}
                <option value='{{singer.id}}'>{{ singer }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <button type="submit">Создать</button>
    <a href="/admin/albums">Отмена</a>
</form>
{{ error }}

{%endblock%}