{% extends 'mainapp/base.html' %}
{% block title %}Пользователи{% endblock %}
{%block site_content %}

<style>
    a {
    text-decoration: none;
  }

  TD, TH {
    padding: 5px;
    font-size: 18px;
    border: 1px solid grey;
   }
</style>


<form method="POST">
    {% csrf_token %}
    {% if hide_search == null %}
        &nbsp;<input name="search" type="text" placeholder="Поиск...">
        <a href="/admin/users/moder_list">Список модераторов</a>
        {% if ser != null %}
            &nbsp;<a href="/admin/users">Назад</a>
        {% endif %}
    {% else %}
        &nbsp;<a href="/admin/users">Назад</a>
    {% endif %}
</form>
<br>

    {% if ser == null and moderators == null %}
    <table>
        <tr><th>Id</th><th>Пользователь</th><th></th><th></th><th></th><th></th></tr>
        {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td><a href="/profile/{{user.id}}">Изменить</a></td>
                    <td><a href="/admin/users/delete/{{user.id}}">Удалить</a></td>
                    {% if user in group_moder %}
                        <td><a href="/admin/users/delete_moder/{{user.id}}">Убрать модератора</a></td>
                    {% else %}
                        <td><a href="/admin/users/give_moder/{{user.id}}">Дать модератора</a></td>
                    {% endif %}
                        <td><a href="/my/{{user.id}}">Список песен</a></td>
                </tr>
        {% endfor %}
    </table>
    {% endif %}



    {% if ser != null %}
        <table>
        <tr><th>Id</th><th>Пользователь</th><th></th><th></th><th></th><th></th></tr>
        {% for s in ser %}

                <tr>
                    <td>{{ s.id }}</td>
                    <td>{{ s }}</td>
                    <td><a href="/profile/{{s.id}}">Изменить</a></td>
                    <td><a href="/admin/users/delete/{{s.id}}">Удалить</a></td>
                    {% if s in group_moder %}
                        <td><a href="/admin/users/delete_moder/{{s.id}}">Убрать модератора</a></td>
                    {% else %}
                        <td><a href="/admin/users/give_moder/{{s.id}}">Дать модератора</a></td>
                    {% endif %}
                        <td><a href="/my/{{s.id}}">Список песен</a></td>
                </tr>
        {% endfor %}
        </table>

        {% elif moderators != null %}
        <table>
            <tr><th>Id</th><th>Пользователь</th><th></th><th></th><th></th><th></th></tr>
        {% for moder in moderators %}

                <tr>
                    <td>{{ moder.id }}</td>
                    <td>{{ moder }}</td>
                    <td><a href="/profile/{{moder.id}}">Изменить</a></td>
                    <td><a href="/admin/users/delete/{{moder.id}}">Удалить</a></td>
                    {% if moder in group_moder %}
                        <td><a href="/admin/users/delete_moder/{{moder.id}}">Убрать модератора</a></td>
                    {% else %}
                        <td><a href="/admin/users/give_moder/{{moder.id}}">Дать модератора</a></td>
                    {% endif %}
                        <td><a href="/my/{{moder.id}}">Список песен</a></td>
                </tr>
        {% endfor %}
        </table>

    {% endif %}
{% endblock %}