{% extends 'mainapp/base.html' %}
{% block title %}{{song.title}}{% endblock %}
{%block site_content %}
<style>
    a {
    text-decoration: none;
  }
</style>
<h3>&nbsp;Изменение песни {{song.title}}</h3>

<br>
<form method="POST">
    {% csrf_token %}
    &nbsp;&nbsp;<input style="width: 350px;" name="title" value='{{song.title}}' type="text" placeholder="Новое название">

    <select name='selected_album'>
        <option value="{{song.album.id}}">{{song.album}}</option>
        {% for album in albums %}
            {% if album != song.album %}
                <option value='{{album.id}}'>{{ album }}</option>
            {% endif %}
        {% endfor %}
    </select>

    <button type="submit">Изменить</button>
    <a href="/admin/songs/delete/{{song.id}}">Удалить</a>
    <a href="/admin/songs">Отмена</a>
</form>
&nbsp;{{error}}
<br>
<h4>&nbsp;Кол-во контента:</h4>
&nbsp;&nbsp;{{ cwc }}

{%endblock%}