{% extends 'mainapp/base.html' %}
{% block title %}{{album.title}}{% endblock %}
{%block site_content %}
<h3>Изменение альбома {{album.title}}</h3>

<br>
<form method="POST">
    {% csrf_token %}
    <input name="title" value='{{album.title}}' type="text" placeholder="Новое название">

    <select name='selected_singer'>
        <option value="{{album.singer}}">{{album.singer}}</option>
        {% for singer in singers %}
            {% if singer != album.singer %}
                <option value='{{singer.id}}'>{{ singer }}</option>
            {% endif %}
        {% endfor %}
    </select>

    <button type="submit">Изменить</button>
    <a href="/admin/albums/delete/{{album.id}}">Удалить</a>
    <a href="/admin/albums">Отмена</a>
</form>
{{error}}

<h4>Список песен из альбома</h4>

<table>
    {% for song in songs %}
        <tr>
            <td>{{song.title}}</td>
        </tr>
    {% endfor %}
</table>


{%endblock%}