{% extends 'mainapp/base.html' %}
{% block title %}Аккорды{% endblock %}
{%block site_content %}

<style>
    a {
    text-decoration: none;
  }

  TD, TH {
    padding: 5px;
    font-size: 18px;
    border: 1px solid grey;
   }
</style>

<form method="POST">
    {% csrf_token %}
    &nbsp;<input name="search" type="text" placeholder="Поиск...">
    <a href="/admin/chords/create">Создать</a>
    {% if ser != null %}
        <a href="/admin/chords">Назад</a>
    {% endif %}
</form>
<br>

     {% if ser == null %}
    <table>
        <tr><th>Id</th><th>Аккорд</th><th></th></tr>
         {% for chord in chords %}
            <tr>
                <td>{{chord.id}}</td>
                <td>{{chord.title}}</td>
                <td><a href="/admin/chords/change/{{chord.id}}">Изменить</a></td>
            </tr>
         {% endfor %}
      </table>
     {% else %}
    <table>
        <tr><th>Id</th><th>Аккорд</th><th></th></tr>
     {% for s in ser %}
            <tr>
                <td>{{s.id}}</td>
                <td>{{s.title}}</td>
                <td><a href="/admin/chords/change/{{s.id}}">Изменить</a></td>
            </tr>
         {% endfor %}
         </table>
     {% endif %}

{%endblock%}