{% extends 'mainapp/base.html' %}
{% block title %}Песни{% endblock %}
{%block site_content %}

<form method="POST">
    {% csrf_token %}
    <input name="search" type="text" placeholder="Поиск...">
    <a href="/admin/songs/create">Создать</a>
    {% if ser != null %}
        <a href="/admin/songs">Назад</a>
    {% endif %}
</form>

 <table>
     {% if ser == null %}
         {% for song in songs %}
            <tr>
                <td>{{song.title}}</td>
                <td><a href="/admin/songs/change/{{song.id}}">Изменить</a></td>
            </tr>
         {% endfor %}
     {% else %}

     {% for s in ser %}
            <tr>
                <td>{{s.title}}</td>
                <td><a href="/admin/songs/change/{{s.id}}">Изменить</a></td>
            </tr>
         {% endfor %}
     {% endif %}
 </table>
{%endblock%}