{% extends 'mainapp/base.html' %}
{% block title %}{{singer.name}}{% endblock %}
{%block site_content %}
<style>
    a {
    text-decoration: none;
  }
</style>
<h3>&nbsp;Изменение исполнителя {{singer.name}}</h3>

<br>
<form method="POST">
    {% csrf_token %}
    &nbsp;&nbsp;<input style="width: 350px;" name="name" type="text" placeholder="Новое имя">
    <button type="submit">Изменить</button>
    <a href="/admin/singers/delete/{{singer.id}}">Удалить</a>
    <a href="/admin/singers">Отмена</a>
</form>
&nbsp;{{error}}
<br>
<h4>&nbsp;Список альбомов исполнителя</h4>

<table>
    {% for album in albums %}
        <tr>
            <td>&nbsp;&nbsp;{{album.title}}</td>
        </tr>
    {% endfor %}
</table>


{%endblock%}