{% extends 'mainapp/base.html' %}
{% block title %}Добавление песни{% endblock %}
{%block site_content %}
{% load static %}

<link href= '{% static "css/create.css" %}' rel="stylesheet" >

<div class="form-group">
    <form method="post">

            {% csrf_token %}
            <table>
                {{ form }}
            </table>

       {% if error != Null %}
        <br>
            <h6>{{ error }}</h6>
        {% endif %}
        <br>

            <h5><strong>Подсказка:</strong></h5>
            <h5>Текст песни вставляется как он есть, но в начале строки с аккордами должен стоять символ "}" (закрывающая фигурная скобка).</h5>
            <h5>Если аккорды стоят прямо в строке с текстом, то их нужно выделить символами "{" и "}" (открывающая и закрывающая фигурные скобки).</h5>
        <br>
            <h5><strong>Пример:</strong></h5>
            <h5>}&nbsp;&nbsp;Am&nbsp;&nbsp;&nbsp;G&nbsp;&nbsp;F</h5>
            <h5>Строка куплета песни</h5>
        <br>
            <h5>Припев : {&nbsp;Am&nbsp;Dm&nbsp;} 3 раза</h5>
        <br>

        <div class="mx-auto col-lg-1">
            <button class="w-100 btn btn-lg btn-primary" type="submit">Изменить</button>
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Отмена</a></li>
            </ul>
            <br>
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/delete/{{song.id}}" class="nav-link active" aria-current="page">Удалить</a></li>
            </ul>

        </div>
    </form>
</div>
{% endblock %}