{% extends 'mainapp/base.html' %}
{% block title %}{{ song.song }}{% endblock %}
{%block site_content %}
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script> <!-- Подключаем Vue (Еее, джава)-->

<link href= '{% static "css/content.css" %}' rel="stylesheet" >

<style>
  h4 {
   font-size: 20px
  }
  h5 {
   font-size: 20px
   }
</style>






<!--<p id="a">Font Size</p>-->

<!--<input type="button" value="Increase Font Size 1px" onclick="increaseFontSizeBy1px()">-->
<!--<p id="b">Font Size by 1 Pixel</p>-->


<div class="block-left">
    <h1>{{ song.song.album.singer }} - {{ song.song }}</h1>
    <h3>Создатель: {{ song.creator }}</h3>
    {% if user.is_authenticated %}
        {% if flag_favourite == False %}
        <a href="/favourites/{{song.id}}">&nbsp;&nbsp;&nbsp;Добавить в избранное</a>
        {% else %}
        <a href="/favourites/{{song.id}}">&nbsp;&nbsp;&nbsp;Убрать из избранного</a>
        {% endif %}
    {% endif %}
    <br>
    <br>



<!--<div id="app">-->
<!--    [[ Rework("{{lines}}") ]]-->
<!--</div>-->
<button onclick="enlarge()">Увеличить</button>
<div id="app">

<!--    <button @click.prevent="Rework()">Do This</button>-->
    <div class="3 tabs__item active uiTabItem">
    {% for line in lines %}
        {% if line in lines_with_chords %}

            <h4>{{ line|safe|linebreaks }}</h4>



        {% else %}
            <h5>{{ line|safe|linebreaks}}</h5>
        {% endif %}
    {% endfor %}
        </div>
    </div>





<!--            {% for line in lines %}-->
<!--                {{ line|safe|linebreaks }}-->

<!--                <p id="get_var1" style="display: none;">{{line}}</p>-->
<!--                [[ doThis("{{lines}}") ]]-->
<!--                [[ doThis() ]]-->
                <!--      <button @click.prevent="doThis()">Do This</button>-->
<!--            {% endfor %}-->


</div>


<div class="block-right">
    <h4 style='text-indent:10px;'>Аккорды из песни:</h4>
    {% for chord in chords %}
        {% if 'http' in chord.content %}
            <img src="{{ chord.content }}">
        {% else %}
            <img src="{% static chord.content %}">
        {% endif %}
    {% endfor %}
</div>

<!--let var1 = document.getElementById("get_var1").textContent-->
<!--    console.log(var1)-->

<!--Rework(lines)-->
<!--          {-->
<!--            //let var1 = document.getElementById("get_var1").textContent-->
<!--            console.log(lines)-->
<!--            //return lines-->
<!--          },-->

<script>
const text2 = document.querySelector(".tabs__item.active");
const text = text2.querySelector("p");

function enlarge() {
  const size = parseInt(window.getComputedStyle(text).fontSize);
  text.style.fontSize = Math.min(100, size * 1.2) + "px";
  console.log(text)
}
</script>

{% endblock %}
