{% extends 'mainapp/base.html' %}
{% block title %}{{ song.song }}{% endblock %}
{%block site_content %}
{% load static %}
<link href= '{% static "css/content.css" %}' rel="stylesheet" >

<div class="block-left">
    <h1>{{ song.song.album.singer }} - {{ song.song }}</h1>
    <h3>Создатель: {{ song.creator }}</h3>
    {% if user.is_authenticated %}
        {% if flag_favourite == False %}
        <a href="/favourites/{{song.id}}">&nbsp;&nbsp;&nbsp;Добавить в избранное</a>
        {% else %}
        <a href="/favourites/{{song.id}}">&nbsp;&nbsp;&nbsp;Убрать из избранного</a>
        {% endif %}
    {% endif %}
    <br>
    <br>

    {% for line in lines %}
                    <h6>{{ line|safe|linebreaks}}</h6>
    {% endfor %}
</div>

<div class="block-right">
    <h4 style='text-indent:10px;'>Аккорды из песни:</h4>
    {% for chord in chords %}
        {% if 'http' in chord.content %}
            <img src="{{ chord.content }}">
        {% else %}
            <img src="{% static chord.content %}">
        {% endif %}
    {% endfor %}
</div>
{% endblock %}