{% extends 'mainapp/base.html' %}
{% block title %}АртемидАккорды{% endblock %}
{%block site_content %}

<form method="POST">
    {% csrf_token %}
    <h2>Вы точно хотите удалить {{ song.song.album.singer }} - {{ song.song }} от {{ song.creator }}?</h2>
    <div class="mx-auto col-lg-1">
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/change/{{song.id}}" class="nav-link active" aria-current="page">Отмена</a></li>
    </ul>
        <br>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Удалить</button>
    </div>
</form>


{% endblock %}